<h1>Ingredients</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Ingredient ID</th>
            <th>Ingredient</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the ingredientId and name }}
        {{#each ingredients}}
        <tr>
            <td>{{this.ingredientID}}</td>
            <td>{{this.name}}</td>


            {{! DELETE form }}
            <form id='delete_ingredient_form' method='POST' action='/ingredients/delete'>
                <input type='hidden' name='delete_ingredient_id' value='{{this.ingredientID}}' />
                <input type='hidden' name='delete_ingredient_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add an Ingredient</h2>
<form class='cuForm' id='create_ingredient_form' method='POST' action='/ingredients/create'>

    <label for='create_ingredient'>Ingredient: </label>
    <input type='text' name='create_ingredient' id='create_ingredient' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Ingredient</h2>
<form class='cuForm' id='update_ingredient_form' method='POST' action='/ingredients/update'>
    <label for='update_ingredient_id'>Ingredient ID: </label>
    <select name='update_ingredient_id' id='update_ingredient_id' required>
        <option value='' disabled selected>Select an Ingredient</option>
        {{#each ingredients}}
        <option value='{{this.ingredientID}}' required>
            {{this.ingredientID}}
        </option>
        {{/each}}
    </select>

    <label for='update_ingredient_name'>Recipe Ingredient: </label>
    <input type='text' name='update_ingredient_name' id='update_ingredient_name' required />

    <input type='submit' />
</form>