<h1>Instructions</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each instructions.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, firstName, lastName, and Email }}
        {{#each instructions}}
        <tr>
            <td>{{this.instructionID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.instructionText}}</td>
            <td>{{this.sortOrder}}</td>

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_instruction_id' value='{{this.instructionID}}' />
                <input type='hidden' name='delete_instruction' value='{{this.instructionText}} {{this.sortOrder}}' />
                <input type='hidden' name='delete_sort_order' value='{{this.sortOrder}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Instruction</h2>
<form class='cuForm' id='create_instruction_form'>

    <label for='create_recipe_id'>Recipe: </label>
    <select name='create_recipe_id' id='create_recipe_id' required>
        <option value='' disabled selected>Select a Recipe</option>
        {{#each recipes}}
        <option value='{{this.title}}' required>
            {{this.recipeID}}
            -
            {{this.title}}
        </option>
        {{/each}}
    </select>

    <label for='create_instruction'>Recipe Instruction: </label>
    <textarea id="create_instruction" name="create_instruction" rows="3" cols="50" placeholder="Enter instruction text here..."></textarea>

    <label for='create_sort_order'>Recipe Step Number: </label>
    <input type='text' name='create_sort_order' id='create_sort_order' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Instruction Step</h2>
<form class='cuForm' id='update_instruction_form'>
    <label for='update_instruction'>Instruction ID: </label>
    <select name='update_update_instruction' id='update_update_instruction' required>
        <option value='' disabled selected>Select an Instruction</option>
        {{#each instructions}}
        <option value='{{this.instructions}}' required>
            {{this.instructionID}}
            {{/each}}
    </select>

    <label for='update_instruction'>Recipe Instruction: </label>
    <textarea id="update_instruction" name="update_instruction" rows="3" cols="50" placeholder="Enter new instruction text here..."></textarea>

    <label for='update_sort_order'>Recipe Step Number: </label>
    <input type='text' name='update_sort_order' id='update_sort_order' required />

    <input type='submit' />
</form>