<h1>Recipes</h1>

{{! Recipes Table }}
<table>
    <thead>
        <tr>
            <th>Recipe ID</th>
            <th>User ID</th>
            <th>Recipe</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Actions</th> <!-- Add column for actions -->
        </tr>
    </thead>

    <tbody>
        {{#each recipes}}
        <tr>
            <td>{{this.recipeID}}</td>
            <td>{{this.userID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.createdOn}}</td>
            <td>{{this.modifiedOn}}</td>

            {{! DELETE form }}
            <td>
                <form id='delete_recipe_form' method="POST" action="/recipes/delete">
                    <input type='hidden' name='delete_recipe_id' value='{{this.recipeID}}' />
                    <button type='submit'>Delete</button>
                    <button type="button" class="update-button" data-type='recipe' data-userid="{{this.userID}}" data-recipeid="{{this.recipeID}}" data-title="{{this.title}}" data-recipedesc="{{this.description}}">
                        Edit
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<div class="new-button">
    <button id="createRecipeBtn">New Recipe</button>
</div>

{{! CREATE form }}
<div class="create-section hidden">
    <h2>Create a Recipe</h2>
    <form class='cuForm' id='create_recipe_form' method='POST' action='/recipes/create'>

        <label for='create_recipe_user'>User ID: </label>
        <select name='create_recipe_user' id='create_recipe_user' required>
            <option value='' disabled selected>Select a user</option>
            {{#each recipes}}
            <option value="{{this.userID}}" required>
                {{this.user}} - {{this.userID}}
            </option>
            {{/each}}
        </select>

        <label for='create_recipe_title'>Recipe Title: </label>
        <input type='text' name='create_recipe_title' id='create_recipe_title' required />

        <label for='create_recipe_description'>Recipe Description: </label>
        <textarea id="create_recipe_description" name="create_recipe_description" rows="3" cols="50" placeholder="Enter recipe Description here..."></textarea>

        <div>
            <input class='save-button' type='submit' value="Submit" />
            <button class='cancel-button' type="button" id="cancel-button">Cancel</button>
        </div>
    </form>
</div>

<div class="update-section hidden">
    {{! UPDATE form }}
    <h2>Update a Recipe</h2>
    <form class='cuForm' id='update_recipe_form' method='POST' action='/recipes/update'>
    <label for='update_recipe_id'>Recipe to Update: </label>
  <input
    type='text'
    name='update_recipe_id'
    id='update_recipe_id'
    readonly
    required
  />
  <label for="update_user_id">User ID: </label>
<input type="text" id="update_user_id" name="update_user_id" readonly />

        <label for='update_recipe_title'>Recipe Title: </label>
        <input type='text' name='update_recipe_title' id='update_recipe_title' required />

        <label for='update_recipe_description'>Recipe Description: </label>
        <textarea id="update_recipe_description" name="update_recipe_description" rows="3" cols="50" placeholder="Enter updated recipe Description here..."></textarea>


        <div>
            <input class='save-button' type='submit' value="Submit" />
            <button class='cancel-button' type="button" id="cancel-button">Cancel</button>
        </div>
    </form>
</div>