<h1>Recipe Ingredients</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each recipeIngredients.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, firstName, lastName, and Email }}
        {{#each recipeIngredients}}
        <tr>
            <td>{{this.recipeID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.ingredientID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.description}}</td>


            {{! DELETE form }}
            <form id='add_recipe_ingredient_form'>
                <input type='hidden' name='delete_recipe_ingredient_id' value='{{this.recipeIngredientID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add an ingredient to a recipe</h2>
<form class='cuForm' id='create_recipe_ingredient_form'>

    <label for='create_recipe_link'>Recipe ID: </label>
    <input type='text' name='create_recipe_link' id='create_recipe_link' required />

    <label for='create_ingredient_link'>Ingredient ID: </label>
    <input type='text' name='create_ingredient_link' id='create_ingredient_link' required />

    <label for='create_quantity'>Quantity: </label>
    <input type='text' name='create_quantity' id='create_quantity' required />

    <label for='create_note'>Description/Special note for the ingredient: </label>
    <input type='text' name='create_note' id='create_note' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Ingredient</h2>
<form class='cuForm' id='update_recipe_ingredient_form'>
    <label for='update_recipe_ingredient'>Ingredient ID: </label>
    <select name='update_recipe_ingredient' id='update_recipe_ingredient' required>
        <option value='' disabled selected>Select an Ingredient</option>
        {{#each ingredient}}
        <option value='{{this.ingredient}}' required>
            {{this.ingredientID}}
            {{/each}}
    </select>

    <label for='update_recipe_link'>Recipe ID with ingredient: </label>
    <input type='text' name='update_recipe_link' id='update_recipe_link' required />

    <label for='update_ingredient_link'>Ingredient to update: </label>
    <input type='text' name='update_ingredient_link' id='update_ingredient_link' required />

    <label for='update_quantity'>New quantity: </label>
    <input type='text' name='update_quantity' id='update_quantity' required />

    <label for='update_note'>New description/special notes: </label>
    <input type='text' name='update_note' id='update_note' required />

    <input type='submit' />
</form>