<h1>Users</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, firstName, lastName, and Email }}
        {{#each users}}
        <tr>
            <td>{{this.userID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>

            {{! DELETE form }}
            <form id='delete_person_form' method='POST' action='/users/delete'>
                <input type='hidden' name='delete_person_id' value='{{this.userID}}' />
                <input type='hidden' name='delete_person_name' value='{{this.firstName}} {{this.lastName}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a User</h2>
<form class='cuForm' id='create_user_form' method='POST' action='/users/create'>
    <label for='create_user_firstName'>First Name: </label>
    <input type='text' name='create_user_firstName' id='create_user_firstName' required />

    <label for='create_user_lastName'>Last Name: </label>
    <input type='text' name='create_user_lastName' id='create_user_lastName' required />

    <label for='create_user_email'>Email: </label>
    <input type='text' name='create_user_email' id='create_user_email' required />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a User</h2>
<form class='cuForm' id='update_user_form' method='POST' action='/users/update'>
    <label for='update_user_id'>User to Update: </label>
    <select name='update_user_id' id='update_user_id' required>
        <option value='' disabled selected>Select a User</option>
        {{#each users}}
        <option value='{{this.userID}}' required>
            {{this.userID}}
        </option>
        {{/each}}
    </select>

    <label for='update_user_firstName'>First Name: </label>
    <input type='text' name='update_user_firstName' id='update_user_firstName' required />

    <label for='update_user_lastName'>Last Name: </label>
    <input type='text' name='update_user_lastName' id='update_user_lastName' required />

    <label for='update_user_email'>Email: </label>
    <input type='text' name='update_user_email' id='update_user_email' required />

    <input type='submit' />
</form>